<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
  <link rel="icon" type="image" href="{{url_for('static', filename='images/favicon1.webp')}}">
</head>
<body>
  <header>
      <a href="/">Home</a>
      <a href="/calças">Calças</a>
      <a href="/camisas">Camisas</a>
      <a href="/cadastro">Cadastro</a>
      <a href="/login">Login</a>
  </header>

  <h1>Seja bem vindo a nossa loja virtual de roupas!</h1>
  <br>
  <button></button>
  <br>
  <button></button>

</body>
</html>
